@page


<link rel="stylesheet" href="~/css/register.css" />

<div class="auth-container">

    <div class="phone-frame">
        <div class="form-card">

            <img src="~/images/logo.png" class="logo" />

            <h2>Create Account</h2>

            <form method="post">
                <input asp-for="Input.Email" placeholder="Student Id" />
                <input asp-for="Input.Password" type="password" placeholder="Password" />
                <input asp-for="Input.ConfirmPassword" type="password" placeholder="Re-enter Password" />

                <button type="submit">Submit Register</button>
            </form>

        </div>
    </div>

</div>