@page

<link rel="stylesheet" href="~/css/register.css" />

<h2>Register</h2>

<form method="post">
    <input type="text" asp-for="Input.Email" placeholder="Email" />
    <input type="password" asp-for="Input.Password" placeholder="Password" />
    <input type="password" asp-for="Input.ConfirmPassword" placeholder="Confirm Password" />

    <button type="submit">Sign Up</button>
</form>
<div class="screen" id="register">~</div>