@page
@model AspNetIdentityLab.Areas.Identity.Pages.Account.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
    <div class="card">
        <h2>Account Registration</h2>
        <form method="post">
            <label>Course:</label>
            <select asp-for="Input.Course">
                <option value="">Plsease Select</option>
                <option>BSIT</option>
                <option>BSCS</option>
                <option>BSIS</option>
            </select>

            <label>Year Level:</label>
            <select asp-for="Input.YearLevel">
                <option value="">Plsease Select</option>
                <option>1st Year</option>
                <option>2nd Year</option>
                <option>3rd Year</option>
                <option>4th Year</option>
            </select>

            <label>Section:</label>
            <input asp-for="Input.Section" placeholder="Enter here" />

            <label>Student ID:</label>
            <input asp-for="Input.Email" placeholder="Enter here" />

            <label>Password:</label>
            <input asp-for="Input.Password" type="password" placeholder="Enter here" />

            <label>Re-try Password:</label>
            <input asp-for="Input.ConfirmPassword" type="password" placeholder="Enter here" />

            <button type="submit" class="btn-next">Next</button>
        </form>
    </div>
</body>
</html>