.dashboard {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    background: #2e7d32;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}